@(param: Any)

<!-- Employee Edit Form Modal -->
<form name="editEmpForm" ng-submit="updateLocation()">
    <div class="modal fade" id="editEmpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Employee</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" ng-model="selectedLocation.name" id="name" value="{{selectedLocation.name}}" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" ng-model="selectedLocation.email" id="email" required value="{{selectedLocation.email}}">
                    </div>

                    <div class="form-group">
                        <label for="position">Position</label>
                        <input type="text" class="form-control" ng-model="selectedLocation.position" value="{{selectedLocation.position}}" id="position" required>
                    </div>

                    <div class="form-group">
                        <label for="companyName">Company Name</label>
                        <input type="text" class="form-control" ng-model="selectedLocation.companyName" value="{{selectedLocation.companyName}}" id="companyName" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                    <input type="submit" ng-disabled="editLocForm.$invalid" class="btn btn-warning" value="Save" />
                </div>
            </div>
        </div>
    </div>
</form>