@(webJarAssets: WebJarAssets)

@main("List of Tables")(webJarAssets) {

<div>

    <table>
        <thead><tr><th>Name</th></tr></thead>
        <tbody>
            <tr><th><a href="/user/">Users</a></th></tr>
            <tr><th><a href="/loc/">Location</a></th></tr>
            <tr><th><a href="/wine/">Wine</a></th></tr>
            <tr><th><a href="/taste/">Taste</a></th></tr>
            <tr><th><a href="/aroma/">Aroma</a></th></tr>
            <tr><th><a href="/pair/">Pairing</a></th></tr>
        </tbody>
    </table>
</div>
}
